---
import type { GetStaticPathsItem } from "astro";
import { getCollection, getEntry } from "astro:content";
import { Image } from "astro:assets";

import Base from "../../../../layouts/base.astro";

export async function getStaticPaths() {
  const books = await getCollection("books");

  return books.map((book): GetStaticPathsItem => {
    let { id } = book.data;
    const [server, signee, title] = id.split("/");
    return { params: { server, signee, title }, props: { book } };
  });
}

const book = await (async () => {
  const { server, signee, title } = Astro.params;
  const key = [server, signee, title].join("/");
  const entry = await getEntry("books", key);
  if (!entry) {
    throw new Error(`Could not find book ${key}`);
  }
  return entry;
})();

const { server, signee, title, pages } = book.data;

const safe_server = server.replaceAll(" ", "_").replaceAll(".0", "");

const description = `Signed by ${signee} on ${server}. Read ${pages.length <= 1 ? "it" : `all ${pages.length} pages`} here and discover more Civ books.`;

const signeeAvatar = `https://www.mc-heads.net/avatar/${signee}`;
---

<Base title={`${title} - by ${signee} - Civ Books`} description={description}>
  <h1>
    {title}
  </h1>
  <div class="book-metadata">
    <a href=`/?search=:signee:${signee}`>
      <Image
        src={signeeAvatar}
        alt=`Face of ${signee}`
        title=`Face of ${signee}`
        height={180}
        width={180}
        class="author-face"
        priority
      />
    </a>
    <div class="signee">
      Signed by <a class="signee-name" href=`/?search=:signee:${signee}`>
        <span data-pagefind-weight="6" data-pagefind-filter="signee">
          {signee}
        </span>
      </a>
    </div>
    <div class="source">
      on <a class="source-server" href=`/?search=:server:${safe_server}`>
        <span data-pagefind-weight="6" data-pagefind-filter="server">
          {server}
        </span>
      </a>
    </div>
  </div>
  <div class="book">
    {
      pages.map((pageRaw, pageNr) => {
        ++pageNr; // start at 1
        // TODO use JSX instead of `set:html`. this is copied from python to make it work
        let styled_content = "";
        // line breaks reset all formatting
        let tags_to_close = 0; // number of </span> to insert at next §r
        const re = /§([0-9a-fA-FklmnorKLMNOR])|\n|[^§]+|§/g;
        for (const [fullmatch, fcode] of pageRaw.matchAll(re).toArray()) {
          if (fullmatch == "§") {
            // stray section sign with wrong format code following; invisible
            styled_content += `<span class="fmtcode">§</span>`;
          } else if (!fcode && fullmatch !== "\n") {
            // content segment
            styled_content += fullmatch;
          } else if (fullmatch == "\n") {
            // newline reset
            while (tags_to_close-- > 0) styled_content += "</span>";
            tags_to_close = 0; // prevent negative
            styled_content += "\n";
          } else if (fcode.toLowerCase() == "r") {
            // reset segment
            while (tags_to_close-- > 0) styled_content += "</span>";
            tags_to_close = 0; // prevent negative
            styled_content += `<span class="fmtcode">§${fcode}</span>`;
          } else {
            // formatting segment
            styled_content += `<span class="fmt${fcode.toLowerCase()}">`;
            styled_content += `<span class="fmtcode">§${fcode}</span>`;
            tags_to_close += 1;
          }
        }
        const pageId = `page-${pageNr}`;
        return (
          <div class="page" id={pageId}>
            <a href={`#${pageId}`} class="page-indicator">
              Page {pageNr} of {pages.length}
            </a>
            <div class="page-content" set:html={styled_content} />
          </div>
        );
      })
    }
  </div>
</Base>
