---
import { getCollection, render } from "astro:content";
import type { GetStaticPathsItem } from "astro";
import { getEntry } from "astro:content";
// import { booksByPath } from "../../../../Book";

export async function getStaticPaths() {
  const books = await getCollection("books");

  return books.map((entry): GetStaticPathsItem => {
    let { server, signee, title } = entry.data;

    return { params: { server, signee, title }, props: { book: entry } };
  });
}

// const { book } = Astro.props;
const book = await (async () => {
  const { server, signee, title } = Astro.params;
  const key = [server, signee, title].join("/");
  const entry = await getEntry("books", key);
  if (!entry) {
    throw new Error(`Could not find book ${key}`);
  }
  return entry;
})();

const { server: origin, signee, title, pages } = book.data;

const safe_origin = origin.replaceAll(" ", "_").replaceAll(".0", "");

const description = `Signed by ${signee} on ${origin}. Read ${pages.length <= 1 ? "it" : `all ${pages.length} pages`} here and discover more Civ books.`;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title} - by {signee} - Civ Books</title>
    <link rel="prefetch" href="/font/Minecraft-Regular.otf" />
    <link rel="prefetch" href="/img/page.png" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="shortcut icon" href="/img/icon.png" />
    <meta property="og:type" content="object" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="Civ Books" />
    <meta property="og:url" content="https://CivBooks.github.io/" />
    <meta
      property="og:image"
      content="https://CivBooks.github.io/img/icon.png"
    />
  </head>
  <body id="top">
    <header>
      <a href="/">
        <img
          class="top-logo"
          src="/img/icon.png"
          alt="Civ Books Logo"
          style="float: right"
        />
      </a>
      <a class="back-home" href="/">Civ Books</a>
    </header>
    <h1>
      {title}
    </h1>
    <div class="book-metadata">
      <a href=`/?search=:signee:${signee}`>
        <img
          class="author-face"
          src=`https://www.mc-heads.net/avatar/${signee}`
          title=`Face of ${signee}`
          alt=`Face of ${signee}`
        />
      </a>
      <div class="signee">
        Signed by <a class="signee-name" href=`/?search=:signee:${signee}`>
          {signee}
        </a>
      </div>
      <div class="source">
        on <a class="source-server" href=`/?search=:server:${safe_origin}`>
          {origin}
        </a>
      </div>
    </div>
    <div class="book">
      {
        pages.map((pageRaw, pageNr) => {
          ++pageNr; // start at 1
          // TODO use JSX instead of `set:html`. this is copied from python to make it work
          let styled_content = "";
          // line breaks reset all formatting
          let tags_to_close = 0; // number of </span> to insert at next §r
          const re = /§([0-9a-fA-FklmnorKLMNOR])|\n|[^§]+|§/g;
          for (const [fullmatch, fcode] of pageRaw.matchAll(re).toArray()) {
            if (fullmatch == "§") {
              // stray section sign with wrong format code following; invisible
              styled_content += `<span class="fmtcode">§</span>`;
            } else if (!fcode && fullmatch !== "\n") {
              // content segment
              styled_content += fullmatch;
            } else if (fullmatch == "\n") {
              // newline reset
              while (tags_to_close-- > 0) styled_content += "</span>";
              styled_content += "\n";
            } else if (fcode.toLowerCase() == "r") {
              // reset segment
              while (tags_to_close-- > 0) styled_content += "</span>";
              styled_content += `<span class="fmtcode">§${fcode}</span>`;
            } else {
              // formatting segment
              styled_content += `<span class="fmt${fcode.toLowerCase()}">`;
              styled_content += `<span class="fmtcode">§${fcode}</span>`;
              tags_to_close += 1;
            }
          }
          return (
            <div class="page" id={`page-${1 + pageNr}`}>
              <a href="#page-{page_nr}" class="page-indicator">
                Page {pageNr} of {pages.length}
              </a>
              <div class="page-content" set:html={styled_content} />
            </div>
          );
        })
      }
    </div>
    <footer>
      <p>
        Part of the
        <a
          href="https://github.com/CivBooks"
          target="_blank"
          rel="noopener noreferrer"
        >
          Civ Books</a
        >
        project by
        <a
          href="https://github.com/Gjum"
          target="_blank"
          rel="noopener noreferrer"
        >
          Gjum</a
        >.
      </p>
    </footer>
  </body>
</html>
